.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RData
*.rdx
*.rdb
scm_replication_oecd_project_25052023_new_cache/html/__packages
scm_replication_oecd_project_25052023_new_files/figure-html/build-ac1-mod-1.png
*.png
*.csv
*.xlsx
